*.o
/Plusone.jar
/build
/dist
/experiment-*
/lib/lda-c-dist/lda
/lib/lda-c-dist/result
lib/lda-c-dist/data
lda/*
/lib/*.jar
/lib/jars/*.jar
.DS_Store
.metadata
.project
.classpath
.py*
bin/*
*-out
*.aux
*.pdf
*.log
*.pyc
